<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings configSource="tsumugi.xml">
    <!--<add key="Tsumugi.Connection" value="Endpoint=sb://something.servicebus.windows.net/;SharedAccessKeyName=TsumugiAccessKey;SharedAccessKey=keyKEYyoKEY="/>
    <add key="Tsumugi.Queue" value="tsumugi"/>
    <add key="Tsumugi.Channel" value="azure"/>
    <add key="Tsumugi.Emoji" value=":panda_face:"/>
    <add key="Tsumugi.BotName" value="Tsumugi"/>-->
    </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>